body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 70vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

.card-mobile-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-desktop-img {
    display: none;
}

/* == Main Content == */

.card-content {
    padding: 20px;
}

.item-type {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    color: rgba(0, 0, 0, 0.6);
}

.item-name {
    font-family: 'Fraunces', sans-serif;
}

.item-description {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 35px;
}

/* == Prices == */
.price {
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 15%;
}

.current-price {
    color: rgb(60, 128, 103);
    font-size: 26px;
    margin-right: 4%;
}

.previous-price {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 50%;
}


/* CTA Add to Cart*/

.cta-cart-btn {
    margin: 100px 10px;
    border-radius: 8px;
    padding: 12px 100px;
    background:rgb(60, 128, 103);
    color: #ffffff;
    font-weight: 600;
    transition: 0.15s;
}

.cta-cart-btn:active, .cta-cart-btn:hover {
    background: rgb(51, 99, 81);
}

a {
    text-decoration: none;
}


@media (min-width: 1024px) {
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% auto;
    }

    .card {
        display: flex;
        background: white;
        flex-direction: row;
        width: 40vw;
        height: 70vh;
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
    }

    .card-content {
        padding: 10px;
        margin-left: 20px;
    }

    .card-mobile-img {
        display: none;
    }

    .card-desktop-img {
        width: 15vw;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: .2s;
    }

    .card-desktop-img:hover {
        transform: scale(1.1);
    }

    .item-type {
        margin-top: 10%;
    }

    .item-name {
        width: 60%; 
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .item-description {
        font-size: 20px;
        width: 80%;
    }

    .price {
        margin-bottom: 5%;
        margin-top: 5%;
        display: inline-block;
    }

    .current-price {
        font-size: 32px;
        margin-right: 24px;
    }

    .previous-price {
        font-size: 20px;
    }

    .cta-cart-btn {
        margin: 0 auto;
        border-radius: 8px;
        margin-top: 15%;
        margin-right: 5%;
        width: 120px;
        padding: 12px auto;
        display: inline-block;
    } 
}
